<div class="sf-carousel-container full-width flex-div" #container
  (mouseover)="mouseOverCont(true)"
  (mouseleave)="mouseOverCont(false)"
>
  <ng-container *ngIf="experiences$ | async as experiences">
    <ng-container *ngFor="let experience of experiences; let i = index;">
      <div class="sf-carousel-slide-container flex-div column"
        #slide (click)="mouseOver(slide, true)"
        (mouseleave)="mouseOver(slide, false)"
        [@goFrontCont]="isActive(slide)"
        (@goFrontCont.done)="animationDone(slide, experience)"
      >
        <ng-container *ngIf="getImage(experience.logo) | async as src">
          <div class="sf-carousel-slide flex-div"
            [class.empty]="!experience.logo">
            <img *ngIf="experience.logo" [src]="src">
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="active-experience flex-div" *ngIf="activeExperience"
  (click)="mouseLeaveActive()"
>
  <sf-active-slide class="full-height full-width" [experience]="activeExperience"></sf-active-slide>
</div>