<div class="sf-carousel-container full-width flex-div">
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
  <div class="sf-carousel-slide-container flex-div column">
    <div class="sf-carousel-slide"></div>
  </div>
</div>