$sf-min-mobile: 550px;

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-items: center;

  &.column {
    flex-direction: column;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.sf-section {
  height: 100vh;
}

.sf-button {
  &.sf-big {
    min-width: 100px;
  }
}

.sf-title {
  color: #FFFFFF;
}