@import "./assets/scss/fontawesome.scss";
@import "./assets/scss/solid.scss";
@import "./assets/scss/brands.scss";
@import "./assets/scss/_variables.scss";

@import './assets/styles/space.scss';
@import './assets/styles/profile-picture.scss';
@import './assets/styles/home-logo.scss';

@import './assets/sf-general.scss';

body {
  margin: 0;
  background-color: #000000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-div {
  display: flex;
  align-items: center;
  &.column {
    flex-direction: column;
  }
}

.credits {
  position: absolute;
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  bottom: 33%;
  text-decoration: none;
  left: calc(50% - 140px);
  bottom: 10px;
  padding: 20px;
  width: fit-content;

  &:before {
    @extend %fa-icon;
    @extend .fab;
    content: fa-content($fa-var-github);
    margin-right: 5px;
    font-size: 20px;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}