@import './assets/styles/coming-soon.scss';
@import "./assets/scss/fontawesome.scss";
@import "./assets/scss/solid.scss";
@import "./assets/scss/brands.scss";

@import "./assets/scss/_variables.scss";

body {
  margin: 0;
  background-color: #000000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.credits {
  position: absolute;
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  bottom: 33%;
  text-decoration: none;
  left: calc(50% - 100px);
  bottom: 10px;
  padding: 20px;

  &:before {
    @extend %fa-icon;
    @extend .fab;
    content: fa-content($fa-var-github);
    margin-right: 5px;
    font-size: 20px;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}