sf-portafolio {
  @extend .flex-div, .column;

  height: 100vh;
  overflow: hidden;

  .sf-title {
    margin-bottom: 40px;
  }
}

sf-carousel {
  @extend .flex-div, .column, .full-width;
  $slide-height: 300px;
  $slide-width: 300px;
	perspective: 900px;
  height: $slide-height;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  z-index: 1;

  .sf-carousel-container {
		transform-style: preserve-3d;
    height: 60vh;
    margin-top: 25vh;
    position: relative;
    .sf-carousel-slide-container {
      margin: 10px;
      position: absolute;
      left: calc(50% - 150px);
      top: 20vh;
      transform-origin: 50% 50% (-80vw);
      height: $slide-height;
      width: $slide-width;
      --scaleStart: 1.5707963267948966rad;
      --scaleEnd: 0rad;
      // backface-visibility: hidden;
      .sf-carousel-slide {
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;
        cursor: pointer;
        position: absolute;
      }
      &.rotate {
        animation: rotate 30s linear infinite;
      }
      &.rotate-test {
        transform: rotateY(var(--scaleStart));
      }
    }
  }

  @keyframes rotate {
    0% {
      transform: rotateY(var(--scaleStart));
    }
    100% {
      transform: rotateY(var(--scaleEnd));
    }
  }

  .active-experience {
    position: absolute;
    width: 60vw;
    left: 20vw;
    height: 70vh;
    top: 20%;
    background-color: #FFFFFF;
    color: black;
    z-index: 2;
  }
}
